#xxx{
    background:green;
    display:block;
  }
  .actions{
    position:fixed;
    bottom:0;
    left:0;
  }
  .actions>#brush{
    display:none;
  }
  .actions.x>#brush{/**在x状态下，在id引号里面加x**/
    display: inline-block;
  }
  .actions.x>#eraser{
    display: none;
  }